div.container{
	margin: 5%;
}
div.row{
	margin: 1%;
}
img#leonlogo{
	max-width: 160px;
	max-height: 160px;
}
p#menubar{
	z-index: inherit;
}
h2.traffic_title{
	font-weight: bold;
}
p.traffic_content{
	font-size: 24px;
}
.affix{
	position:fixed;
	top:1%;
	right:10%;
	z-index: 20;
	animation : showup 1s linear;
	-webkit-animation : showup 1s linear;
}
a h4{
	text-align: center;
}
button.source i, button.languages span, button.school i, button.story i, button.me i{
	font-size: 24px;
}
div.logo i{
	font-size: 56px;
}
div.logo ul{
	list-style: none;
}
div.logo i.fa-coffee{
	color : #1989FF;
}
div.logo i.fa-android{
	color : #5DBE00;
}
div.logo i.fa-globe{
	color : #3799FF;
}
div.logo i.fa-c{
	color : #B0AFFF;
}
div.logo span{
	font-size: 24px;
}
div.logo span.java{
	color : #FF3937;
}
div.logo span.android{
	color : #DDD;
}
div.logo span.javascript{
	color : #3799FF;
}
div.logo span.c{
	color : #005DBE;
}
div.logo ul li i{
	opacity: 0.2;
}
div.logo ul li {
	font-weight: bold;
}
div.logo ul li:hover {
	transform: rotate(0deg) scale(1) skew(0deg) translate(-10px);
	-webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(-10px);
	-moz-transform: rotate(0deg) scale(1) skew(0deg) translate(-10px);
	-o-transform: rotate(0deg) scale(1) skew(0deg) translate(-10px);
	-ms-transform: rotate(0deg) scale(1) skew(0deg) translate(-10px);
}
div.utlogo{
	background: #3799FF ;
}
div.utcontent{
	border-left: solid 5px #3799FF;
}
div.cglogo{
	background: #f0ad4e ;
}
div.cgcontent{
	border-left: solid 5px #f0ad4e;
}

.show{
	animation : showup 1s linear;
	-webkit-animation : showup 1s linear;
}

@keyframes showup
{
	from{ opacity: 0; }
	to{ opacity: 1; }
}

@-webkit-keyframes showup
{
	from{ opacity: 0; }
	to{ opacity: 1; }
}
div.sky{
	position : relative;
	width : 100%;
	height : 100%;
	z-index: 10;
}
div.cloud{
	position: absolute;
	
}
div.level_title span.label{
	font-size: 28px;
}
div.level_title:hover{
	transform: rotate(0deg) scale(1) skew(0deg) translate(-20px);
	-webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(-20px);
	-moz-transform: rotate(0deg) scale(1) skew(0deg) translate(-20px);
	-o-transform: rotate(0deg) scale(1) skew(0deg) translate(-20px);
	-ms-transform: rotate(0deg) scale(1) skew(0deg) translate(-20px);
}
div.level_content{
	opacity: 0;
}
div.contact_facebook{
	font-size: 48px;
	color:#3B5998;
}
div.contact_email{
	font-size: 48px;
	color:#d34836;
}
div.contact_email i.fa-envelope{
	font-size: 128px;
}
div#air{
	overflow: hidden;
}

div.new-taipei-city{
	position: relative;
	overflow:hidden;
	width: 100%;
	min-height: 500px;
	background: #AFD6FF;
	z-index: 1;
}
div.new-taipei-city i.Banqiao{
	position: absolute;
	display: block;
	bottom: -400px;
	background-image: url(../img/station_full.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 600px 400px;
	width: 100%;
	min-height: 400px;
	z-index: 8;
}
div.new-taipei-city i.megacity{
	position: absolute;
	display: block;
	bottom: -400px;
	left: -400px;
	background-image: url(../img/megacity.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 600px 400px;
	width: 100%;
	min-height: 400px;
	z-index: 7;
}
div.new-taipei-city i.tree{
	position: absolute;
	display: block;
	bottom: -400px;
	left: 0px;
	background-image: url(../img/tree.png);
	background-repeat: repeat;
	background-position: bottom;
	background-size: 600px 400px;
	width: 100%;
	min-height: 400px;
	z-index: 3;
}
div.new-taipei-city i.star{
	position: absolute;
	display: block;
	bottom: -400px;
	left: 0px;
	background-image: url(../img/star.png);
	background-repeat: repeat;
	background-position: bottom;
	background-size: 600px 400px;
	width: 100%;
	min-height: 400px;
	z-index: 4;
}
div.new-taipei-city i.building{
	position: absolute;
	display: block;
	bottom: -400px;
	left: 0px;
	background-image: url(../img/background.png);
	background-repeat: repeat;
	background-position: bottom;
	background-size: 600px 400px;
	width: 100%;
	min-height: 400px;
	opacity : 0.6;
	z-index: 5;
}
div.new-taipei-city i.traffic{
	position: absolute;
	display: block;
	bottom: 0px;
	left: 0px;
	background-image: url(../img/traffic.png);
	background-repeat: repeat;
	background-position: bottom;
	background-size: 600px 400px;
	width: 100%;
	min-height: 400px;
	z-index: 6;
}
/* ribon css */
.ribbon {
 font-size: 24px !important;
 /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
 width: 50%;
 position: relative;
 background: #986794; /* origin ba89b6 */
 color: #fff;
 text-align: center;
 padding: 1em 2em; /* Adjust to suit */
 margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid #986794;
 z-index: -1;
}
.ribbon:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}
.ribbon:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #804f7c transparent transparent transparent;
 bottom: -1em;
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}
/* customizing ribbon */
div.new-taipei-city .ribbon{ position: absolute; z-index: 12; left:25%; }
div.hobby .ribbon{
	background: #FF7573;
}
div.hobby .ribbon:before,div.hobby .ribbon:after {
	border: 1.5em solid #FF7573;
}
div.hobby .ribbon .ribbon-content:before, div.hobby .ribbon .ribbon-content:after {
 border-color: #A00200 transparent transparent transparent;
}
div.hobby .ribbon:before{
	border-left-color: transparent;
}
div.hobby .ribbon:after{
	border-right-color: transparent;
}

/* css for hobby area */
div.hobby{
	text-align: center;
}
div.working1, div.working2, div.working3, div.contact_email, div.contact_facebook{
	text-align: center;
	line-height: 52px;
}
div.working1 h1, div.working3 h1{
	font-size: 50px;
}
div.working1 p, div.working2 p, div.working3 p{
	text-align: left;
	font-size: 34px;
}
div.working1 i.fa-android{
	color : #5DBE00;
	font-size: 128px;
}
div.working1 i.fa-github{
	font-size: 128px;
}
div.working1 i.fa-facebook-square{
	font-size: 128px;
	color:#3B5998;
}
div.working1 i.fa-plus, div.working2 i.fa-plus, div.working3 i.fa-plus{
	font-size: 64px;
}
div.working2 img, div.working3 img{
	max-width: 256px;
	max-height: 100px;
	vertical-align:text-bottom;
}
div.row_space{
	display: block;
	min-width: 100%;
	min-height: 100px;
}
.imgText {
	font-size: 64px;
	font-weight: bold;
}